body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
}
#mapid { 
  width: 100%;
  height:100%;
}
.popup {
  font-weight:700;
  font-family: 'Open Sans', sans-serif;
}
.userCfg {
  min-width: 200px;
  padding: 8px 10px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.userCfg h3 {
  margin: 0 0 5px;
  font: 16px/16px 'Raleway', sans-serif;
  font-weight:700;
}
.userCfg #fdbk, .userCfg #slider{
  font: 14px 'Open Sans', sans-serif;
  font-weight:400;
  text-align:center;
}
.userCfg #fdbk{
  line-height:18px;
}
.userCfg .em{
  font-weight:700;
}
